<script>
mkdir C:\\Temp
cd C:\\Temp
curl -O http://${zdmip}/download/ZConverter_CloudTarget_Setup_Windows.exe
ZConverter_CloudTarget_Setup_Windows.exe /zcm ${zdmip} /user admin@zconverter.com
</script>